<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>MBWebViewController</string>
	<key>https</key>
	<string>MBWebViewController</string>
	<key>meb</key>
	<dict>
		<key>meb://signin</key>
		<string>LoginViewController</string>
		<key>meb://reservation</key>
		<string>AppointValidatCodeViewController</string>
	</dict>
</dict>
</plist>
